[submodule "third_party/midilib"]
	path = third_party/midilib
	url = https://github.com/LeffelMania/android-midi-lib.git
[submodule "third_party/liblouislib"]
	path = third_party/liblouislib
	url = https://github.com/liblouis/liblouis.git
	branch = v3.4.0
[submodule "third_party/brlttylib"]
	path = third_party/brlttylib
	url = https://github.com/brltty/brltty.git
	branch = BRLTTY-5.6
